body {
  margin: 0;
  padding: 0;
  font-family: "Raleway","Helvetica Neue",sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary;
}

*{
  box-sizing: content-box;
}