/* Fonts */
$font-featured: 'Raleway',sans-serif;
$font-title: 'Montserrat',sans-serif;
/* Colors */
$color-primary: #F02FC2;
$color-secondary: #1D2671;
$color-lavender: #ABB3EB;
$color-text: #74777B;